{% render 'views/head.liquid' %}

  <main>

    <section>
      <img src="images/avatar.jpg" alt="" />
      <p>Westerpark</p>
    </section>

    <section>
      <button type="button">📷</button>
    </section>

      <ul>
        {% for photo in photos %}
            <li>
              <img src="" alt="">          
            </li>
        {% endfor %}
      </ul>

  </main>

{% render 'views/foot.liquid' %}
