{% render 'views/head.liquid' %}

<header>
  <nav class="header-nav">
    <span class="map-title">Snappthis</span>
    <button class="nav-grid-btn" type="button">
      <img src="/grid.svg" alt="" width="22" height="22">
    </button>
  </nav>
</header>

<main>
  <ul class="snapmap-list">
    {% for snapmap in snapmaps %}
      <li>
        <a href="/snapmap/{{ snapmap.uuid }}">{{ snapmap.name }}</a>
      </li>
    {% endfor %}
  </ul>
</main>

{% render 'views/foot.liquid' %}
